.about {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #e0eef4;
  padding: 60px 140px;
  border-radius: 60px;
}

.about__main {
  width: 100%;
  max-width: 820px;
}

.about__contact-information {
  width: 100%;
  max-width: 360px;
}

@media (max-width: 839px) {
  .about {
    padding: 40px 60px;
    flex-direction: column;
  }

  .about__main {
    max-width: 100%;
  }

  .about__contact-information {
    max-width: 100%;
  }
}
