.button {
  width: fit-content;
  font-size: 18px;
  min-width: 260px;
  padding: 10px;
  background-color: #ffe6e6;
  border-radius: 20px;
  transition: 0.2s;
}

.button:hover {
  background-color: #fff0f0;
}

.button:active {
  background-color: #fff6f6;
}
